<nav class="fixed flex flex-row-reverse w-full top-0 z-10" id="nav" [ngClass]="{'pl-96':isActive,'pl-28':!isActive}">
    <div class="bg-[#F4F8FBFF] h-16 w-screen flex items-center justify-between px-8 py-2">
        <span class="font-bold text-lg">TOP-RATED TOURIST ATTRACTIONS IN SINGAPORE</span>
        <div class="flex flex-row items-center">
            <img src="../../../assets/images/setting-icon.svg" alt="settings" class="h-[22px] mx-2">
            <img src="../../../assets/images/Quest-icon.svg" alt="quest" class="h-[22px] mx-2">
            <img src="../../../assets/images/Close-icon.svg" alt="close" class="h-[22px] mx-2">
        </div>
    </div>
</nav>