<aside class="w-full h-screen fixed top-0 z-10 max-h-screen flex flex-row font-roboto">
    <div class="bg-[#313541] w-28 flex flex-col text-sm divide-y divide-[#282C37ff]">
        <div [ngClass]="{'text-white bg-[#72CDD2]':sidebarService.isActive.value, 'text-[#8297A0ff]':!sidebarService.isActive.value}" id="browse" value="false" class="h-20 flex items-center justify-center py-[20px]">
            <button (click)="setActive()" [class.active]="sidebarService.isActive" class="flex flex-col items-center justify-between">
                <img src="../../../assets/images/browse-icon.svg" alt="browse" style="height: 30px;" class="mb-[5px]">
                <span>Browse</span>
            </button>
        </div>
        <div class="h-30 flex items-center justify-center text-[#8297A0ff] py-[20px]">
            <a href="" class="flex flex-col items-center justify-between">
                <img src="../../../assets/images/merlion-icon.svg" alt="browse" style="height: 30px;" class="mb-[5px]">
                <span>Suggest</span><span>Atraction</span>
            </a>
        </div>
        <div class="h-20 flex items-center justify-center text-[#8297A0ff] py-[20px]">
            <a href="" class="flex flex-col items-center justify-between">
                <img src="../../../assets/images/videos-icon.svg" alt="browse" style="height: 30px;" class="mb-[5px]">
                <span>Videos</span>
            </a>
        </div>
        <div class="h-20 flex items-center justify-center text-[#8297A0ff] py-[20px]">
            <a href="" class="flex flex-col items-center justify-between">
                <img src="../../../assets/images/blog-icon.svg" alt="browse" style="height: 30px;" class="mb-[5px]">
                <span>Blog</span>
            </a>
        </div>
        <div class="h-20 flex items-center justify-center text-[#8297A0ff] py-[20px]">
            <a href="" class="flex flex-col items-center justify-between">
                <img src="../../../assets/images/about-icon.svg" alt="browse" style="height: 30px;" class="mb-[5px]">
                <span>About</span>
            </a>
        </div>
    </div>
    <div [ngClass]="{'bg-[#282C37] w-[272px] flex flex-col text-sm divide-y divide-[#20242B] overflow-auto px-4':sidebarService.isActive.value,'hidden':!sidebarService.isActive.value}" id="browse-menu">
        <div class="flex justify-center">
            <select id="countries" class="m-2 w-auto p-1 border border-[#313541] text-sm rounded-lg block bg-transparent placeholder-gray-400 text-[#8297A0ff] focus:ring-grey-500 focus:border-grey-500">
                <option selected>Filter</option>
                <option value="US">By Name</option>
                <option value="CA">By Favorite</option>
            </select>
        </div>
        <div *ngFor="let item of li" class="flex items-center pl-5 text-white py-[15px]">
            <a href="">{{item.name}}</a>
        </div>
    </div>
</aside>